<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
   
    <title>MI API NODE.JS</title>
</head>
<body>
    {{{body}}}
</body>
</html>

{{!--En {{{body}}} se incrustaran las plantillas o vistas que vallamos definiendo--}}
